In [1]:
import pandas as pd
import plotly.express as px
from post_roe.query import BucketQuery as bq, BUCKET_BASE

drive_time = pd.read_feather("zip3_drive_time_mean.feather")
origins = bq.census_zip3_query()

     drive_time   zip3
0         389.2  301**
1         515.2  319**
2         370.2  350**
3         380.8  351**
4         366.6  352**
..          ...    ...
960       311.8  828**
961       249.0  829**
962       394.0  830**
963       413.0  831**
964       469.0  834**

[965 rows x 2 columns]