In [57]:
import pandas as pd
from post_roe.query import BucketQuery as bq
from itertools import product
from geopy.distance import geodesic
import requests

GOOGLE_DISTANCE_API_KEY = "AIzaSyARPGbw0525MOHKf5l4hE41Z93lsp2L-8k"

class Distance:

    # get distances from origin-destination "o-d" pairs

    @staticmethod
    def geodesic(o: tuple, d: tuple) -> int:
        return int(geodesic(o, d).miles)

    @staticmethod
    def drive_time(o: tuple, d: tuple) -> int:
        def _get_minutes(google_distance_response: dict) -> int:
            try:
                seconds = google_distance_response["rows"][0]["elements"][0][
                    "duration"
                ]["value"]
                minutes = seconds / 60
                return int(minutes)
            except Exception as e:
                # print(e, google_distance_response)
                pass

        def _call_google(o: tuple, d: tuple) -> dict:
            def _tuple_to_string(x: tuple) -> str:
                return f"{x[0]},{x[1]}"

            params = {
                "origins": _tuple_to_string(o),
                "destinations": _tuple_to_string(d),
                "units": "imperial",
                "key": GOOGLE_DISTANCE_API_KEY,
            }
            url = "https://maps.googleapis.com/maps/api/distancematrix/json"
            response = requests.get(url, params=params)
            if response.status_code != 200:
                print(response.status_code, response.text)
            return response.json()

        data = _call_google(o, d)
        return _get_minutes(data)




def get_drive_time_mean(origin, k=5):
    destination = bq.census_zip5_query().sample(1000).reset_index(drop=True)
    destination["lat_lon"] = destination.apply(lambda x: (x["lat"], x["lon"]), axis=1)
    df = destination[["lat_lon"]].reset_index()
    df["geodesic"] = df["lat_lon"].apply(
        lambda d: Distance.geodesic(origin["lat_lon"], d)
    )
    df = df.sort_values("geodesic")[0:k]

    df["drive_time"] = df["lat_lon"].apply(
        lambda d: Distance.drive_time(origin["lat_lon"], d)
    )
    # display(df)
    return df["drive_time"].mean()


origins = bq.census_zip3_query()
origins["lat_lon"] = origins.apply(lambda x: (x["lat"], x["lon"]), axis=1)
df = origins.sample(3)
df['drive_time_mean'] = df.apply(get_drive_time_mean, axis=1)
df

     index                    lat_lon  geodesic  drive_time
197    197  (43.1821707, -77.6401751)         1           4
933    933  (43.0788723, -77.8108303)        11          18
200    200  (42.8082051, -77.6400118)        24          41
999    999   (42.847695, -76.9989723)        38          57
337    337   (42.5285432, -78.004367)        48          72

     index                    lat_lon  geodesic  drive_time
138    138   (41.7409313, -86.126918)         8          22
196    196   (41.8449095, -86.417637)        13          27
29      29  (41.6786279, -86.5930305)        17          28
202    202  (41.4781725, -86.6933204)        26          45
163    163  (41.4613059, -86.7619858)        29          54

     index                    lat_lon  geodesic  drive_time
28      28  (42.9329099, -85.5358679)         6          19
261    261  (42.7391683, -86.0847934)        25          35
170    170  (43.2429117, -85.1479387)        33          51
657    657   (42.263643, -85.6132473)        46          52
720    720  (43.5145947, -86.2547884)        49          64

,state,zip3,lat,lon,population,adi_median,lat_lon,drive_time_mean
637,NY,146**,43.169354,-77.619062,475807,73.0,"(43.16935353043478, -77.61906162173914)",38.4
267,IN,466**,41.681415,-86.263047,145459,79.0,"(41.68141508, -86.26304726)",35.2
404,MI,495**,42.942102,-85.656841,403004,58.5,"(42.942101814285714, -85.65684112142857)",44.2

In [52]:

df

UnboundLocalError: local variable 'destination' referenced before assignment

In [ ]:
import pandas as pd
from post_roe.query import BucketQuery as bq
from itertools import product
from geopy.distance import geodesic

origins = bq.census_zip3_query()
origins['lat_lon'] = origins.apply(lambda x: (x['lat'], x['lon']), axis=1)

desintation = bq.census_zip5_query().sample(1000).reset_index(drop=True)
desintation['lat_lon'] = desintation.apply(lambda x: (x['lat'], x['lon']), axis=1)
# df = pd.DataFrame({"o_d_pair": list(product(origin['lat_lon'][0:1], desintation['lat_lon']))}) 
# len(df)

   index                    lat_lon  geodesic
0      0   (34.4145929, -85.050554)        15
1      1  (34.0888743, -85.0703821)        20
2      2  (34.5984644, -85.6350858)        27
3      3  (34.6126865, -85.9045038)        40
4      4  (33.8476552, -85.7849164)        42

In [3]:
# 3 minutes to compute 1e6 o_d_pair geodesics
# df.to_feather("1m_o_d_geodesic.feather")
# df['geodesic'] = df['o_d_pair'].apply(_get_distance_geodesic)
# df

In [4]:
# ok now to filter that by od pair top 10
df['o'] = df['o_d_pair'].apply(lambda x: x[0])
df['d'] = df['o_d_pair'].apply(lambda x: x[1])
os = df['o'].unique()

o = os[0]
k = 5
o_df = df[df['o'] == o].sort_values("geodesic")[0:k].reset_index(drop=True)
o_df

,o_d_pair,geodesic,o,d
0,"((34.3157908, -85.2951255), (34.3937861, -85.6...",23,"(34.3157908, -85.2951255)","(34.3937861, -85.6979718)"
1,"((34.3157908, -85.2951255), (34.7336449, -85.0...",33,"(34.3157908, -85.2951255)","(34.7336449, -85.0008241)"
2,"((34.3157908, -85.2951255), (33.8723315, -85.8...",45,"(34.3157908, -85.2951255)","(33.8723315, -85.8896643)"
3,"((34.3157908, -85.2951255), (34.0323882, -84.5...",49,"(34.3157908, -85.2951255)","(34.0323882, -84.5051537)"
4,"((34.3157908, -85.2951255), (34.7838801, -86.1...",56,"(34.3157908, -85.2951255)","(34.7838801, -86.1022011)"

In [6]:
# took 1 minute to run this filter 
def _filter_geodesic(o, k=5):
    o_df = df[df['o'] == o].sort_values("geodesic")[0:k].reset_index(drop=True)
    return o_df

dff = pd.concat([_filter_geodesic(o) for o in os])
dff

,o_d_pair,geodesic,o,d
0,"((34.3157908, -85.2951255), (34.3937861, -85.6...",23,"(34.3157908, -85.2951255)","(34.3937861, -85.6979718)"
1,"((34.3157908, -85.2951255), (34.7336449, -85.0...",33,"(34.3157908, -85.2951255)","(34.7336449, -85.0008241)"
2,"((34.3157908, -85.2951255), (33.8723315, -85.8...",45,"(34.3157908, -85.2951255)","(33.8723315, -85.8896643)"
3,"((34.3157908, -85.2951255), (34.0323882, -84.5...",49,"(34.3157908, -85.2951255)","(34.0323882, -84.5051537)"
4,"((34.3157908, -85.2951255), (34.7838801, -86.1...",56,"(34.3157908, -85.2951255)","(34.7838801, -86.1022011)"
...,...,...,...,...
0,"((43.8614388, -110.9357249), (43.866555, -111....",34,"(43.8614388, -110.9357249)","(43.866555, -111.6333206)"
1,"((43.8614388, -110.9357249), (44.2839539, -112...",74,"(43.8614388, -110.9357249)","(44.2839539, -112.3021668)"
2,"((43.8614388, -110.9357249), (42.5148505, -111...",101,"(43.8614388, -110.9357249)","(42.5148505, -111.765362)"
3,"((43.8614388, -110.9357249), (43.020349, -112....",113,"(43.8614388, -110.9357249)","(43.020349, -112.8691669)"
4,"((43.8614388, -110.9357249), (45.4541161, -112...",123,"(43.8614388, -110.9357249)","(45.4541161, -112.0723892)"

In [7]:
dff.reset_index()

,index,o_d_pair,geodesic,o,d
0,0,"((34.3157908, -85.2951255), (34.3937861, -85.6...",23,"(34.3157908, -85.2951255)","(34.3937861, -85.6979718)"
1,1,"((34.3157908, -85.2951255), (34.7336449, -85.0...",33,"(34.3157908, -85.2951255)","(34.7336449, -85.0008241)"
2,2,"((34.3157908, -85.2951255), (33.8723315, -85.8...",45,"(34.3157908, -85.2951255)","(33.8723315, -85.8896643)"
3,3,"((34.3157908, -85.2951255), (34.0323882, -84.5...",49,"(34.3157908, -85.2951255)","(34.0323882, -84.5051537)"
4,4,"((34.3157908, -85.2951255), (34.7838801, -86.1...",56,"(34.3157908, -85.2951255)","(34.7838801, -86.1022011)"
...,...,...,...,...,...
4820,0,"((43.8614388, -110.9357249), (43.866555, -111....",34,"(43.8614388, -110.9357249)","(43.866555, -111.6333206)"
4821,1,"((43.8614388, -110.9357249), (44.2839539, -112...",74,"(43.8614388, -110.9357249)","(44.2839539, -112.3021668)"
4822,2,"((43.8614388, -110.9357249), (42.5148505, -111...",101,"(43.8614388, -110.9357249)","(42.5148505, -111.765362)"
4823,3,"((43.8614388, -110.9357249), (43.020349, -112....",113,"(43.8614388, -110.9357249)","(43.020349, -112.8691669)"
4824,4,"((43.8614388, -110.9357249), (45.4541161, -112...",123,"(43.8614388, -110.9357249)","(45.4541161, -112.0723892)"

In [ ]:
# k_closest = []

In [5]:
from typing import List, Tuple
from dataclasses import dataclass
import requests

{'destination_addresses': ['1601 Evatt Dr SE, Fort Payne, AL 35967, USA'],
 'origin_addresses': ['Snow Loop, Rome, GA 30165, USA'],
 'rows': [{'elements': [{'distance': {'text': '36.8 mi', 'value': 59178},
     'duration': {'text': '48 mins', 'value': 2861},
     'status': 'OK'}]}],
 'status': 'OK'}

In [ ]:
@dataclass
class GeoPair:
    origin: Tuple[float, float]
    destination: Tuple[float, float]

    @property
    def distance_geodesic(self):
        return int(geodesic(self.origin, self.destination).miles)

# def _call_google_distance_api(geo_pair: GeoPair) -> dict:
#     """
#         Requires Google Distance Matrix API Key
#         cost $5 per 1k: https://developers.google.com/maps/documentation/distance-matrix/usage-and-billing
#         with $200 per month included (40k)
#     """
#     def _tuple_to_string(x: tuple) -> str: return f"{x[0]},{x[1]}"
#     params = {
#         'origins': _tuple_to_string(geo_pair.origin),
#         'destinations': _tuple_to_string(geo_pair.destination),
#         'units': 'imperial',
#         'key': GOOGLE_DISTANCE_API_KEY
#     }
#     url = "https://maps.googleapis.com/maps/api/distancematrix/json"
#     response = requests.get(url, params=params)
#     if response.status_code != 200:
#         print(response.status_code, response.text)
#     return response.json()

In [12]:
# ok so I have od pairs, now I need the geodescic distance between em

2041